{% extends 'main.html' %}
{% load static %}


{% block content %}

<!-- {% for banner in banners %} -->
<div class="col-11 col-md-5 col-lg-5 card artistnamegrid mb-4">
    <div class="row">
        <!-- <div class="col-12 col-md-6 col-lg-6 p-0">
 
            <img src="{{ banner.image.url }}" alt="Avatar" class="img-fluid image">
    
        </div> -->
        <div class="col-12 col-md-6 col-lg-6">
          

                <p class="blogtitle mt-1">
                   well ntg here access API ..
                </p>

                
                <!-- <p class="blogdescp">
                    {{ banner.tagline }}
                </p> -->
        </div>
    </div>
</div>
<!-- {% endfor %} -->

<!-- {% for notification in notifications %}
<div class="col-11 col-md-5 col-lg-5 card artistnamegrid mb-4">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 p-0">
 
            <img src="{{ notification.image.url }}" alt="Avatar" class="img-fluid image">
    
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          

                <p class="blogtitle mt-1">
                    {{ notification.title }}
                </p>

                
                <p class="blogdescp">
                    {{ notification.hyperLink }}
                </p>
        </div>
    </div>
</div>
{% endfor %} -->


{% endblock content %}